<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %><br>

      <%= f.label :email %>
      <%= f.email_field :email %><br>

      <%= f.label :age %>
      <%= f.number_field :age%><br>

      <%= f.label :sex %>
      <%= f.text_field :sex %><br>

      <%= f.label :religion %>
      <%= f.text_field :religion %><br>

      <%= f.label :ethnicity %>
      <%= f.text_field :ethnicity %><br>

      <%= f.label :income %>
      <%= f.number_field :income%><br>

      <%= f.label :password %>
      <%= f.password_field :password %><br>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
