<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

    <title></title>
  </head>
  <body>
    
    <%= form_for(@answer, url: form_answers_path(form_id: @form.id))  do |f| %>

    <div class="answer">

    <h1 style="color: black;"><%= @question.question_name %></h1>

    <% @question.choices.each do |c| %>
    <p>
      <%= radio_button_tag(:answer_name, c.choices_name) %>
      <%= label_tag("answer_name_#{c.choices_name}", c.choices_name) %><br>
    </p>





    <% end %>
    <%= f.submit "Answer", class: "btn btn-primary" %>
    <% end %>
    </div>


  </body>
</html>
