<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"> -->

<%= form_for(@answer, url: form_answers_path(form_id: @form.id))  do |f| %>

<h1 style="color: black;"><%= @question.question_name %></h1>

<% @question.choices.each do |c| %>
  <%= radio_button_tag(:answer_name, c.choices_name) %>
  <%= label_tag(:answer_name, c.choices_name) %><br>



<% end %>
<%= f.submit "Answer", class: "btn btn-primary" %>
<% end %>
