<%provide(:title, 'Create a form-survey')%>

<div class="row">
  <%= form_for :form, url: '/forms' do |f| %>

  <div class="fields">

    <%= f.label :name %>
    <%= f.text_field :name %><br>

    <%= f.label :description %>
    <%= f.text_area :description%><br>

    <div id="questions">
      <%= render 'question' %>
    </div>
    <a href="javascript:;" id="addNewQuestion">Add New Question</a>

    <div id="poll_choices">
        <%= render 'poll_choice' %>
    </div>
    <a href="javascript:;" id="addNewChoice">Add New Choice</a>
  </div>

  <%= f.submit "Create the survey", class: "btn btn-primary" %>


  <% end %>

  <div class="success-message">
</div>

<div style="display: none;" id="new_question_form">
    <%= render partial: "question"%>
</div>

<div style="display: none;" id="new_choice_form">
    <%= render partial: "poll_choice"%>
</div>
