<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">


<%provide(:title, 'Create a form-survey')%>

<div class="row">
  <link href='https://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>

  <div class="wrap">
  <%= form_for :form, url: '/forms' do |f| %>

    <div id="name">

    <%= f.label :name %>
    <%= f.text_field :name %><br>
  </div>
  <div id="desc">

    <%= f.label :description %>
    <%= f.text_area :description%><br>
  </div>

    <div id="questions">
      <a href="javascript:;" id="addNewQuestion">Add New Question</a>
      <div id="poll_choices">
      </div>
    </div>

    </div>

  <%= f.submit "Create the survey", class: "btn btn-primary" %>


  <% end %>

  <div class="success-message">
</div>

<div style="display: none;" id="new_question_form">
    <%= render partial: "question"%>
</div>

<div style="display: none;" id="new_choice_form">
    <%= render partial: "poll_choice"%>
</div>
