<!DOCTYPE html>
<html>
  <head>
    <title>TestLayout</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <% if current_user %>
      Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
    <% else %>
      <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/users/new' %>
    <% end %>

    <%= yield %>
    <!-- <footer class="page-footer">
    <div class="footer-copyright">
    <div class="container">
            © 2014 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
    </div>
  </footer> -->
  </body>
</html>
